.titleArea h2{
    padding:16px 20px;
    border-bottom:1px solid #eaeaea;
    font-size:16px;
    font-weight:400;

}
.popupcontent{
    padding:20px;
    width:66%;
    margin:0 auto;
}

.popupTit{
 
    font-size:18px;
    font-weight:500;
    margin-bottom:20px;
    margin-top:10px;
   
}
.popupTit .step{
    display:inline-block;
    width:30px;
    height:30px;
    border-radius:3px;
    background-image:linear-gradient(to bottom, #f5f5f5, #eaeaea);
    border:1px solid #cacaca;
    text-align:center;
    color:#888;
    font-weight:600;
    vertical-align: middle;
    margin-right:6px;
    line-height:32px
}
.pdoption{
    font-size:13px;
    margin-top:8px;
    color:#787878;
    min-height:15px;
}

.refundInfo>div:nth-of-type(1){

}

    

.imgWrap{
min-width:90px;
width:90px;
height:90px;
display:inline-block;
}
.imgWrap img{
    width:100%;
    height:100%;
    border-radius:8px;
}


.pdWrap{
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    margin-bottom:20px !important;

}

.pdInfo{
    padding-left:20px;
}
.pdquan{
    font-size:13px;
    color:#aaa;
    display:inline-block;
    margin-top:8px;
}

.pdtit{
    margin-bottom:4px;
}

.pdprice{
    margin-bottom:2px;
}
.pdquan i:before{
    content:'';
    display:inline-block;
    width:1px ;
    height:10px;
    background:#eee;
    margin-right:6px;
}

.pdquan i{
    margin-left:6px;
}

.popupbox{
    border: 1px solid #eaeaea;
    padding:20px;
    border-radius:10px;
    margin-bottom:40px;
}

.imgWrap{
    position:relative;
}
.imgWrap label{
  width:100%;
  height:100%;
}

.reason{
    padding-top:24px;
    padding-bottom:24px;
    position:relative;
}



.subtxt{
    font-size:13px;
    margin-top:24px;
    margin-bottom:10px;
}

.textBox{
    border: 1px solid #eaeaea;
    width:100%;
    height:110px;
    position:relative;
}

.textBox textarea{
    border:none;
    width:100%;
    height:100%;
    resize:none;
    padding:8px;

}

.txtlength{
    position:absolute;
    bottom:2px;
    right:8px;
    font-size:13px;
    color:#565656;

}              


.refundInfo .subtit{
    font-size:16px;
    font-weight:600;
    margin-bottom:18px;
}

.subtit:before{
    content:'';
    display:inline-block;
    width:3px;
    height:3px;
    background:#444;
    vertical-align:middle;
    margin-right:6px;
}



.refundInfo>div{
    margin-bottom:10px;
}

.refundInfo>div:nth-of-type(1){
  
    padding-bottom:10px;
}



.refundinput input[type=text]{
    width:100%;
}

.refundinput li:nth-of-type(2n+1){
    color:#787878;
    margin-top:12px;
    margin-bottom:8px;
}

.refundPrice table{
    width:100%;
    table-layout:fixed;
}

.refundPrice td{
    padding:12px 2px;
}
.refundPrice td:nth-of-type(1){
    width:40%;
    color:#565656;
}

.refundPrice td:nth-of-type(2){
    text-align:right;
    font-size:16px;
    
}


.allrefund td{
    padding-top:28px;
    border-top:1px dashed #eaeaea;
}
.allrefund td:nth-of-type(2){
    font-size:18px;
    font-weight:600;
}

 .alingbtn{
     margin-top:40px;
 }

 .expd_choice{
     display:flex;
     width:100%;
     padding-bottom:20px;
     margin-top:20px;
     border-bottom:1px dashed #eaeaea;
 }

  .expd_choice>div:nth-of-type(1){
      width:55%;
      display:flex;
     display:-webkit-box;
     display:-moz-box;
     display:-ms-flexbox;
     
      align-self:center;
  }


  .expd_choice {
      margin-bottom:0 !important;
  }
  .expd_choice:last-of-type{
      border-bottom:none;
  }

   .expd_choice>div:nth-of-type(2){
      width:45%;
      align-self:center;
  }



   .expd_choice .pdInfo{
       width:calc(100% - 90px)
   }



   .imgWrap{
       background:#fafafa;
       flex-shrink:0 ;
       position:relative;
       border-radius:8px;
   }


   .imgWrap img{
       position:absolute;
   }

   .check-st-2 span:nth-of-type(1){
       position:absolute;
       top:-4px;
       z-index:1;
       margin-right:0;
       left:-4px;
   }



     .pdquan i{
         margin-left:8px;
     }
   .pdquan i select{
       padding:4px 34px 4px 20px;
       border:1px solid #ddd;
       background:url(/common/image/icon/downarrow.png) no-repeat;
       background-size:8px;
       background-position:86% 50%;
   }


    .selectwrap >div{
        margin-bottom:10px;
    }

   .selectwrap >div p{
       margin-bottom:8px;
   }
    .personInfo{
        margin-bottom:40px;
    }

     .personInfo > input{
         width:100%;
     }

       .personInfo  p{
           margin-top:12px;
           margin-bottom:8px;
           color:#787878;
       }

    .ExtxtInfo >div{
        margin-bottom:10px;
    }

    .ExtxtInfo >div span{
        display:inline-block;
        width:28%;
        padding-left:10px;
    }

     .ExtxtInfo >div input{
         width:40%
     }

     .ExtxtInfo  .selectbox2{
         display:inline-block;
         width:40%;
     }
     .personInfo p{

     }


     @media all and (max-width:768px){

      .popupcontent{
          width:100%;
          padding:0;
      }
      .popupbox{
          padding:3%;
      }
     }