/*모바일 사이즈 css*/
/********************************모바일 ********************************************************/
body{
    margin:0;
    padding:0;
}







@media all and (min-width:768px){




.mobile_nav{
    display:none;
    width:100%;
    height:100%;
}


}
.mb_navTop{
    
  height:44px;  
  position:relative;

}

 /*상단 메뉴*/

 .m_navheader{
    background:#FFF;
    border-bottom:0.5px solid #eeeeee;
    padding:10px 3%;
    position:relative;
    text-align:center;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
    width:100%;
    
}

/*.m_navheader  a{
    display:block;
    position:relative;
    padding:2px;
    box-sizing:border-box;
}*/

.m_navheader .menu_btn{
    width:30px;
    height:30px;
    background:url(https://violeta429.github.io/portfolio/common/image/masterpage/nav_btn.png) no-repeat;
    background-size:22px;
    display:inline-block;
    position:relative;
    background-position:3px 6px; 
    cursor:pointer;
    border:1px solid rgba(0,0,0,0);


}    

.m_navheader{
box-shadow: 0 0 8px rgb(0 0 0 / 10%);
}
.m_navheader>div{
display:flex;
display: -webkit-box ;
display: -moz-box;
display: -ms-flexbox ;
display: -webkit-flex;
justify-content:space-between
}

.m_navheader>div>div{
   align-self: center;
}
.m_navheader>div>div:not(.mob_logoWrap){
    width:30px;
    height:30px;
    display:inline-block;
    margin-right:10px;
}

.m_navheader>div>div:not(.mob_logoWrap) a{
    display:block;
    width:100%;
    height:100%;
    position:relative;

}

.m_navheader>div>div:not(.mob_logoWrap) a img{
    width:29px;
}

.mob_logoWrap img{
    max-width:100%;
    max-height:30px;
}

.navcartbtn span{
 font-size:10px;
 display:inline-block;
 width:15px;
 height:15px;
 border-radius:50%;
 background:#333;
 color:#fff;
 position:absolute;
 right:-3px;
 line-height: 14px;
 top:0;
}

.m_navheader>div>div:last-of-type{
    margin-right:0;
}


.mob_logoWrap{
    display:inline-block;
    width:50%;
}







.nav_close{
    top:10px;
    position:absolute;
    right:20px;
    background:url(https://violeta429.github.io/portfolio/common/image/masterpage/bt_st1.png) no-repeat;
    width:30px;
    height:30px; 
    border-radius:2px;
    background-position:-93px -43px;
}

.mb_navTop a{
    display:inline-block;
    margin-right:14px;
    font-size:14px;
    padding:2px;
    color:#666

}

.mb_navMd{
  display:table;
  width:100%;
  padding:8px 4px;
    table-layout:fixed;
    text-align:center;
    background:#4e4e4e;
}

.mb_navMd a{
    display:table-cell;
   

}


.mb_navMd a >div{
    width:32px;
    height:32px;
    background:pink;
    margin:4px auto;
}
/*아이콘*/

.mb_navMd a:nth-of-type(1) >div{
  background:url(https://violeta429.github.io/portfolio/common/image/masterpage/sideIcon2.png) no-repeat;
  background-size:contain;
}
.mb_navMd a:nth-of-type(2) >div{
  background:url(https://violeta429.github.io/portfolio/common/image/masterpage/sideIcon3.png) no-repeat;
  background-size:contain;
}
.mb_navMd a:nth-of-type(3) >div{
  background:url(https://violeta429.github.io/portfolio/common/image/masterpage/sideIcon1.png) no-repeat;
  background-size:contain;
}
.mb_navMd a:nth-of-type(4) >div{
  background:url(https://violeta429.github.io/portfolio/common/image/masterpage/sideIcon4.png) no-repeat;
  background-size:contain;
}



.mb_navMd a p{
       font-size:13px;
       color:#FFF;

}

/*카테고리 탭*/
#cateTab {
    width:100%;
    padding:3%;
    margin-top:20px;
}      
#cateTab .tab-content{
    min-height:400px;
    margin-top:-1px;
}
#cateTab .tab-menu li{
    width:50%;
    float:left;
    text-align:center;
    padding:10px 6px;
    color:#bebebe;
    border-bottom:1px solid #333;
    box-sizing:border-box;
    font-size:14px;
    letter-spacing:1px;
      font-family: 'Lato';
      font-weight:600;
                         
} 

#cateTab .tab-menu li.active{
    border: 1px solid #333;
    border-bottom:none;
    background:#FFF;
     color:#333;
      box-sizing:border-box;
        font-weight:800;
}



/* mobile M */
.accordion {list-style-type:none;padding:0;margin:0;}



.accordion > li >a{
    display:block;
    height:46px;
    line-height:46px;
    border-bottom:1px solid #111;
    color:#565656;
    font-weight:600;
    padding:0 14px   ;
    font-size:15px;

}

.accordion ul {padding:0;margin:0;width: 100%;}
.accordion li {cursor:pointer;list-style-type:none;padding:0;margin:0;width:100%;}
.accordion li.active {background:#FFF;}
.accordion li.active > a {  no-repeat 10px 10px; }
.accordion li div {padding:0px;clear:both;float:left;width:100%;}
.accordion a {color:#000;padding:0 20px;display:block;cursor:pointer;height:26px;line-height:26px;}

.accordion li ul li {background: #f2f2f2;font-size:14px; }
.accordion > li > ul > li > a{height:32px;}


.accordion li ul li ul li a{background:#efefef url('dot.gif') no-repeat 20px 10px;padding-left:30px}

.m_navheader .menu_btn:active{
    background-color:#f9f9f9;
    border-radius:2px;
    border: 1px solid #aaa;
    box-sizing:border-box;
}


/*.m_navheader input{
    width:28px ;
    height:28px;
    background:#999;
    border: none;
    float:right;
    position:relative;
    top:15px;    
    background:url(https://violeta429.github.io/portfolio/common/image/masterpage/search.png) no-repeat;
    border:none;
    text-indent:-999999999px;
    cursor:pointer    ;
}*/

.mob_search {
    margin-bottom:10px;
    padding-bottom:12px;
}

.mob_search>div{
    display:flex !important;
    width:100% !important;
}


.mob_search .searchbtn{
}

.mob_search input[type=text]{
    width:calc(100% - 50px);
    margin-left:6px;
}

.mob_search input[type=text]:focus{
    border-color:#F44336;
    border-width:1.5px;
}





.mob_search{
padding-top:14px;
padding-left:3%;
padding-right:3%;
position:fixed;
width:100%;
z-index:9999;
background:#FFFFFF;
opacity:0;
z-index:-1;
margin-top:-10px;
background:#fafafa;
border-bottom:1px solid #dadada;
border-top:1px solid #dadada;
bottom:46px;
}


.mob_search.show{
 opacity:1;
 z-index:99999;
transform: translateY(10%);
transition: all .3s cubic-bezier(.8,0,.6,1);
transition-property: all,visibility;
transition-delay: 0s,.3s;
}



 /*모바일 페이지 상단 이동*/

 .mob_go_top {
opacity:0;
visibility: hidden;

 }


 .mob_go_top.show{
opacity:1;
visibility: visible;
 }





.mob_go_top span{
display:inline-block;
width: 36px;
height: 36px;
border-radius: 50%;
border: 1px solid #dadada;
position: fixed;
bottom: 70px;
right: 20px;
background-color: #FFF;
cursor: pointer;
background-image:url(https://violeta429.github.io/portfolio/common/image/icon/ico_arrow_up.png); 
background-size:25px;
background-position:4px 3px;
background-repeat:no-repeat;
z-index: 998;
}


/*모바일 네비게이션*/

  /*미디어쿼리 S*/

@media all and (max-width: 767px) {

    .sec3_cont_btn {
        display:none;
    }
.innerwrap{
    min-height:unset;
    padding:30px 0px;
}


.lg-tit{
    font-size:20px;
    text-align:center;
}
.sub-tit{
    text-align:left;
}


.mobile_nav{
    display:none;
}

 body{
    min-width:320px;
 }
.mobile_nav{

    
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:white;
    z-index:1000;
}

.accordion>li ul{
    display:none;

}

.wrapper{
    margin-top:55px;
}



input[type=text], input[type=password], input[type=tel]{
 height:36px;
}

.selectbox{
    height:36px;
}
.selectbox select{
    width:100%;
    overflow:hidden;
    padding-left:10px;
}

.btnwrap2 input{
    width:49% !important;
    margin:0 !important;
}

.btnwrap2 input:nth-of-type(2){
    margin-left:1% !important;
}


.mob_bt_nav{
  
background:#FFF;
width:100%;
position:fixed;
bottom:0;
z-index:999;
border-top:1px solid #eaeaea;
box-shadow:0px -1px 10px rgba(240,240,240,0.5);
    
    
}


.mob_bt_nav ul{
height:50px;
display:flex;
display:-webkit-box;
display:-moz-box;
display:-ms-flexbox;
display:-webkit-flex;
-webkit-box-align: center;
align-items: center;
}


.mob_bt_nav nav ul li{
width:calc(100% / 4);
height:100%;

}


.mob_bt_nav nav ul li a{
   display:flex;
display:-webkit-box;
display:-moz-box;
display:-ms-flexbox;
display:-webkit-flex;
-webkit-box-align: center;
align-items: center;
    width:100%;
    height:100%;
}

.mob_bt_nav nav ul li  figure{
    width:32px;
    height:32px;
    margin:0 auto;
}

 .mob_bt_nav nav ul li span{
   display:flex;
display:-webkit-box;
display:-moz-box;
display:-ms-flexbox;
display:-webkit-flex;
-webkit-box-align: center;
align-items: center;
    width:100%;
    height:100%;
}



.bt-menu figure{background:url(https://violeta429.github.io/portfolio/common/image/icon/mobileicon/ico-mob-menu.png) no-repeat; background-size:contain ; background-position-x:-3px;}
.bt-search figure{background:url(https://violeta429.github.io/portfolio/common/image/icon/mobileicon/ico-mob-search.png) no-repeat; background-size:contain}
.bt-mypage figure{background:url(https://violeta429.github.io/portfolio/common/image/icon/mobileicon/ico-mob-mypage.png) no-repeat; background-size:contain}
.bt-recentpd figure{background-image:url(https://violeta429.github.io/portfolio/common/image/icon/mobileicon/ico-mob-recentpd.png); background-size:contain ; background-repeat:no-repeat; background-color:#f1f1f1;border-radius:8px;}
  

.rcnt-product{
    width:100%;
}

.rcnt-content{
   width:100%;
   padding:0px 3%;
}

.rc_pdname{
    width:auto;
}


.rcnt-pd-inner{
    padding: 10px 0;
    justify-content: space-between;
}
.rcnt-pd-inner div:nth-of-type(1){
    width:100%;
}

.rcnt-pd-inner div:nth-of-type(1) >div{
    display:inline-block;
    width:calc(100% - 70px);
}

.rctimg{
    vertical-align:top;
    width:70px;
    height:70px
}


/***************************달력*****************/


.ui-datepicker{
    display:none;
    width:94%;
    left:50% !important;
    top:50% !important;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}

.ui-datepicker  table {
    width:100%;
}


.ui-datepicker-calendar td a{
    font-size:16px;
    padding:12px 7px;
}
.ui-datepicker thead th{
    font-size:16px;
    padding:12px 6px;
}

.ui-datepicker-title span{
    font-size:18px;
}



.ui-datepicker .ui-datepicker-header{
    padding: 12px 2px;
    background:#F44336 ;
    color:#FFF;
}

.ui-datepicker-title{
    color:#FFF;

}
.ui-datepicker{
    border:none;
}

.calenderBg.show{
 display:block !important;
}

.ui-datepicker-prev span, .ui-datepicker-next span{
    width:24px;
    height:24px;
    background-color:#FFF;
    top:10px;
}
.abtn2{
    display:flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
}
.abtn2 a{
  width:50% !important;
}

.ui-datepicker-next span{
    background-position:-30px -154px;
}

.ui-datepicker-prev span{
    background-position:-5px -154px;
}

.ui-datepicker thead{
    background:#f2f2f2;
}

.selectbox b{
    border-top:none;
    background-position: 1px -141px
}


#ulMasterCategory_M  .cate_wrap{
    width:100%;
    float:none;
    padding:0;
    padding-left:10px;
}
#ulMasterCategory_M  .sub-category2  {
    width:100%;
}

#ulMasterCategory_M .cate_tit{
    display:inline-block;
    width:90%;
   margin:0;
   padding:16px 0;
    font-size:16px;

}

#ulMasterCategory_M .cate_wrap{
    margin-bottom:6px;
    border-bottom:1px solid #eaeaea;
}

#ulMasterCategory_M  li.on .arrowDowm{
   transform:rotate(-0deg)
}
#ulMasterCategory_M  li.noDepth .arrowDowm{
    display:none;
}

.arrowDowm{
    display:inline-block;
    width:28px;
    height:28px;
    background:url(https://violeta429.github.io/portfolio/common/image/icon/ico_arrow_up.png);
    background-size:26px ;
    transform:rotate(-180deg);
    vertical-align:middle;
    background-position:0 -2px;
    opacity:0.7;
}

} /*미디어쿼리 E*/
