.myorderWrap{
width:100%;
display:flex;
display: -webkit-box   ;
display: -moz-box;
display:-webkit-flex; 
justify-content:space-between;
border:1px solid #eaeaea;
padding:14px 0px;
}              

.myorderWrap>div{
    flex:1;
    align-items:center;
    align-content:center;
    text-align:center;

}

.orderIcon img{
    width:64px;
    
}
     

.myorderWrap>div .cnt{
    font-size:15px;
    font-weight:500;
    text-align:center;
    margin-top:10px;
    font-family: 'Lato';
}

.myorderWrap>div .cnt span{
    font-size:20px;
    font-weight:800;
    margin-right:3px;
}




.myorder .my_tit span{
    font-size:12px;
    font-weight:400;
     color:#787878;
      font-family: Gulim;
      vertical-align:middle;
      margin-left:10px;
}

.wishImg{
    display:inline-block;
    width:90px;
    height:90px;
    border: 1px solid #eaeaea;
}

.wishImg img{
  width:100%;
}

.wish_tb{
 width:100%;
}

.wish_tb tr{
    border-bottom:1px solid #eaeaea;
}

.wish_tb td{
    padding:12px 10px;
}
.wish_tb td:nth-of-type(1){
    vertical-align:middle;
    
}





.pd_price{
    margin-top:8px;
}
.pd_price span{
    font-size:18px;
    margin-top: 10px;
    font-weight:600;
    margin-right:2px;
    
}

.wishadd{
    margin-right:20px;
    height:32px;
    font-size:14px;
    background-image:url(/common/image/icon/sprite_img.png);
    background-repeat:no-repeat;
    background-size:400px;
    background-position:-287px -147px;
    padding-left:40px;
    padding-right:20px;
}



.pd_name{
    font-size:16px;
    width:80%;
}

.info{
    float:right;
   font-size: 12px;
    letter-spacing: 0px;
    color: #888;
    font-family: 'NanumBarunGothic';
    position:relative;
    top:10px;
}







.mypage_info{
    border:1px solid #eaeaea;
    background:#fafafa;
    padding:14px;
}


.mypage_info table{
   width:100%;
}


.mypage_info table td{
    vertical-align:top;
}
.my-username {
    width:36%;
    font-size:22px;
}
.mycnp{
    justify-content:flex-end;
    display:flex;

}

.mycnp >div{
    display:inline-block;
   text-align:center;
   min-width:120px;
   
}

.mycnp >div:nth-of-type(1)  {
    margin-right:30px;
}


.mycnp >div p{
font-size:16px;
margin-bottom:12px;
font-weight:600;
}

.mycnp >div span{
    
    font-size:18px;
    font-weight:600;
    color:#333;
}

.showAll{
    font-size:12px;
     font-family: Gulim;
     font-weight:400;
     border: 1px solid #ddd;
     padding:4px 10px ;
     border-radius:5px;
    float:right;
    position:relative;
    top:3px;


}

.showAll a{
    color:#898989;
   
}
.my_main_content .my_tit{
    margin-top:40px;
    margin-bottom:10px;
    
}






.nonlist{
  text-align:center;
  
    border:1px solid #eaeaea;
    padding-top:30px;
    padding-bottom:30px;
}

.nonlist p{
    margin-top:6px;
    font-size:15px;
    margin-bottom:20px;
    color:#787878;
}



.status{
  font-family: 'NanumBarunGothic';
  font-size:1em;
  font-weight:600;

}


/*미디어쿼리*/
@media all and (max-width:767px){
 


     .mypage_nav{
     display:block;
 }

    .mypage_info tr td{
    display:block;
    width:100%;

}
.mypage_nav ul:not(:nth-of-type(1)) li:nth-of-type(1){
    display:none;
}
.innerwrap .content{
    padding:0;
}
.mycnp >div:nth-of-type(1){
    margin-right:0;
}

.mypage_info{
    padding:14px;
    background:#eaeaea;
}
.my-username{
    font-size:16px;
    text-align:left;
    margin-bottom:10px;
}


.mycnp{
    background:#FFFFFF;
    border-radius:6px;
    padding:10px 0;
    margin-bottom:10px;
    

}

.mycnp >div p{
    font-size:17px;
    font-weight:600;
}

.mycnp >div span{
    font-size:16px;
   display:inline-block;

}

.mycnp >div{
    width:50%;

}

.my_main_content .my_tit{

}

.my_main_content .my_tit{
    margin-top:24px;
    margin-bottom:16px;
}

.orderIcon img{
    width:60px;
    height:auto;
}

.mypage_info{
    position:absolute;
    width:100%;
    top:0px;
    height:150px;
    background-position:0px -108px;
}

.mypage_nav{
    margin-top:120px;
    border-bottom:1px solid #eaeaea;
}

.mypage_nav>div{
    border:none;
    box-shadow:none;
}

.mypage_nav li a{
    font-size:16px;
    color:#333;
   padding: 10px 12px;

}


.wish_tb colgroup{
    display:none;
}

.wish_tb tr{
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    flex-wrap:wrap ;
    display:-webkit-flex
}

.wish_tb td{
    padding:0;
}
.wish_tb td:nth-of-type(1){
    padding-left:3%;
    padding-top:10px;
}



.wish_tb td:nth-of-type(2){
    width:calc(100% - 115px);
    padding-right:3%;
    padding-left:10px;
    
    padding-top:10px;
}

.wish_tb td:nth-of-type(3){
    display:block;
    width:100%;
    text-align:right;
    padding-right:3%;
}

.pd_name{
    width:100%;
    font-size:14px;
text-overflow: ellipsis;
word-wrap: break-word;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

.pd_price{

    font-size:15px;
    
}

.pd_price span{
    font-size:15px;
    font-weight:500;
}

.wishadd{
    text-indent:-999999999px;
    width:36px;
    height:36px;
    padding:0;
    background-size: 444px;
    background-position: -323px -163px;
    margin-right:0;
    top:0;
    margin-bottom:10px;

}

.wishImg{
    width:80px;
    height:80px;
}

.myorderWrap{
    flex-wrap:wrap  ;
    justify-content: center;
}

.myorderWrap>div{
    width:calc(100% / 3);
    flex:initial;
    flex-grow:0;
    flex-shrink:0;
}  

.myorderWrap>div .cnt{
    font-size:14px;
}

.myorderWrap>div .cnt span{
    font-size:15px;
    font-weight:600;

}



.myorderWrap>div:nth-of-type(4) , .myorderWrap>div:nth-of-type(5) ,  .myorderWrap>div:nth-of-type(6){
    margin-top:20px;
}


.myorderWrap{
    padding:16px 0;
    border-left:0;
    border-right:0;
}

.myorder .my_tit span{
    position:relative;
    top:7px;
}

.my_main_content .my_tit{
    padding-left:3%;
    padding-right:3%;
    padding-bottom:0;
}

.mypage_nav>div:not(.csWrap){
    width:100%;
    border:none;
}

.mypage_nav li{
    padding:0;
}

.mypage_nav ul:not(.user_wrap) li a {
    padding:10px 12px;
    border-bottom:none;
    font-size:15px;
    border-bottom:1px solid #eaeaea;

}  

.mypage_nav ul:not(.user_wrap) li:last-of-type a{
    border-bottom:1px solid #eaeaea;
} 
}